// Constant Color-Theme
$primary-color: #64B6AC;
$secondary-color: #C0FDFB;
$tertiary-color: #DAFFEF;
$quaternary-color: #5D737E;
$overall-color: #FCFFFD;

// General Purpose
body {
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
  background-color: $overall-color;
  margin: 0;
}

// Logo 
#logo {
  font-size: 40px;
  border: 4px solid $primary-color;
  padding: 10px
}

// Navigation Component
#nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav-links {
  color: $primary-color;
  margin: 3% 3%;
  text-decoration: none;
  font-size: 110%;
  &:hover,
  &:focus,
  &:active {
    color: $secondary-color;
    transform: scale(1.1);
    transition-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
  }
}

// Components
#welcome-container,
#about-container,
#events-container,
#adoptable-container,
#involved-container,
#contact-container,
#donate-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Welcome Component
#welcome-container {
  #welcome-image {
    font-size: 100px;
    color: $quaternary-color;
  }
  #welcome-button {
    background-color: $primary-color;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
    border: 2px solid $primary-color;
    &:hover {
      border: 2px solid $secondary-color;
      background-color: white;
      color: $secondary-color;
      transition-duration: 0.3s;
    }
  }
}

// About Component
#about-container {
  #about-container-1sthalf,
  #about-container-2ndhalf {
    height: 50%;
    width: 100%
  }
  h1, h2 {
    text-align: center;
  }
}

// events Container
#events-container {
  margin-bottom: 200px;
  h1 {
    color: $quaternary-color;
    font-weight: bold;
  }
  h2 {
    color: $quaternary-color;
    font-weight: lighter;
  }
  #my-events-container {
    display: flex;
    flex-direction: row;
    .events-items {
      display: flex;
      margin: 20px 20px;
    }
  }
}

// Contact Component/Form
#contact-form {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  label {
    margin: 5% 5%;
    font-size: 15px;
  }
}
