// Constant Color-Theme
$primary-color: #64B6AC;
$secondary-color: #C0FDFB;
$tertiary-color: #DAFFEF;
$quaternary-color: #5D737E;
$overall-color: #FCFFFD;

// General Purpose
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $overall-color;
  margin: 0;
}

// Navigation Component
#nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav-links {
  margin: 3% 3%;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    transition-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
  }
}

// Components
#component1-container,
#component2-container,
#component3-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Distinguishing different components
  // Can be removed
  border-width: 0.5px;
  border: solid;
}

// Component #1 Style
#component1-container {
  h2 {
    text-align: center;
  }
}

// Component #2 Style
#component2-container {
  h2 {
    text-align: center;
  }
}

// Component #3 Style
#component2-container {
  h2 {
    text-align: center;
  }
}

// Mobile 
@media screen and (max-width: 1200px) and (min-height: 1500px) {
  
}
